<h1>New Game</h1>

<div class="card">
  <div class="card-body">
    <%@letters.each do |letter|%>
      <div class="card-body d-flex w-25 p-3">
       <%=letter%>
      </div>
    <%end%>
  </div>
</div>


<form action="/score" method="post" data-turbo="false">
  <!-- ... -->
  <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
  <%= hidden_field_tag :letters, @letters.join %>
  <input type="text" name="word">
  <input type="submit" value="Play">
  <%# <input id="tags_list" name=@letter type="hidden" /> %>
</form>
